{% extends 'HypebeastWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusResourceBundle:Macros:actions.html.twig' import update %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/hypebeastweb/bower_components/angular/angular.min.js') }}"></script>
    <script src="{{ asset('bundles/hypebeastweb/bower_components/typeahead.js/dist/typeahead.min.js') }}"></script>

    {% javascripts output='assets/compiled/backend_inventory_update.js'
        '@SyliusWebBundle/Resources/assets/js/inventory-update.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        var inventory_update_variants_path = '{{ path('sylius_backend_inventory_variants') }}?q=%QUERY';
        var formData = [];
        {% if form.vars.data and form.vars.data.adjustmentChanges %}
            {% for adjustmentChange in form.vars.data.adjustmentChanges %}
            formData.push({
                'id': {{ adjustmentChange.variant.id }},
                'name': "{{ adjustmentChange.variant.product.name }}",
                'sku': {{ adjustmentChange.variant.sku }},
                'onHand': {{ adjustmentChange.variant.onHand }},
                'brand': "{{ sylius_product_brand(adjustmentChange.variant.product).name }}",
                'quantity': {{ adjustmentChange.quantity }},
                {% if adjustmentChange.variant.options %}
                'option': "{{ adjustmentChange.variant.options ? adjustmentChange.variant.options.0.value }}"
                {% endif %}
            });
            {% endfor %}
        {% endif %}
    </script>
{% endblock %}

{% block topbar %}
    <ol class="breadcrumb">
        <li>{{ 'sylius.breadcrumb.assortment'|trans }}</li>
        <li>{{ 'sylius.breadcrumb.inventory.update'|trans }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1><i class="glyphicon glyphicon-tasks"></i> {{ 'sylius.adjustment_change.update_header'|trans|raw }}</h1>
    </div>

    <form id="stock-adjustment-form" ng-controller="StockAdjustment" action="{{ path('sylius_backend_inventory_update') }}" method="post" class="form-horizontal">
        {{ form_errors(form) }}

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>{{ 'sylius.inventory.item_name'|trans }}</th>
                <th class="col-xs-2">{{ 'sylius.product.sku'|trans }}</th>
                <th class="col-xs-1">{{ 'sylius.inventory.quantity'|trans }}</th>
                <th class="col-xs-1">{{ 'sylius.inventory.available'|trans }}</th>
                <th class="col-xs-1">{{ 'sylius.inventory.after'|trans }}</th>
                <th class="col-xs-1"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in items" line-item>
                <td>#{item.brand} #{item.name} <span ng-if="item.option" class="label label-info">#{item.option}</span></td>
                <td class="col-xs-2"><code>#{item.sku}</code></td>
                <td class="col-xs-1"><input type="number" ng-model="item.quantity" class="form-control" name="{{ form.adjustmentChanges.vars.full_name }}[#{$index}][quantity]" stock-adjustment-quantity></td>
                <td class="col-xs-1">#{item.onHand}</td>
                <td class="col-xs-1">#{item.onHand + item.quantity}</td>
                <td class="col-xs-1">
                    <button ng-click="removeItem($index)" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Del</button>
                    <input type="hidden" name="{{ form.adjustmentChanges.vars.full_name }}[#{$index}][variant]" value="#{item.id}">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="item-to-be-added" class="form-control" placeholder="Search by SKU" variant-typeahead>
                </td>
                <td colspan="6"></td>
            </tr>
            </tbody>
        </table>

        {{ form_row(form.reason, {'attr': {'ng-model': 'reason'}}) }}
        {{ form_row(form.note) }}
        {{ form_widget(form._token) }}

        {{ update() }}
    </form>
{% endblock %}
