{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% import 'SyliusWebBundle:Frontend/Macros:alerts.html.twig' as alerts %}

{% form_theme form _self %}

{% block title 'sylius.meta.front_end_title.cart'|trans|title %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets output='styles/cart.css' '@HypebeastWebBundle/Resources/assets/less/cart.less' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block main %}
    {% if not cart.empty %}
        {{ form_errors(form) }}

        <div class="cart-summary">
            <form action="{{ path('sylius_cart_save') }}" method="post" novalidate>
                <table class="cart-table table">
                    <thead>
                        <tr>
                            <th class="product">{{ 'sylius.cart.summary.product'|trans }}</th>
                            <th class="unit-price">{{ 'sylius.cart.summary.unit_price'|trans }}</th>
                            <th class="quantity">{{ 'sylius.cart.summary.quantity'|trans }}</th>
                            <th class="total">{{ 'sylius.cart.summary.total'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart.items %}
                            {% include 'SyliusWebBundle:Frontend/Cart:_item.html.twig' %}
                        {% endfor %}
                    </tbody>
                </table>

                <div class="row">
                    <div class="col-sm-5">
                        <div class="coupon">
                            <p class="text-center">Have a promotional code? Insert it below.</p>
                            <div class="input-group">
                                {{ form_widget(form.promotionCoupon) }}
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default">{{ 'sylius.cart.summary.add_coupon'|trans }}</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="summary">
                            <dl class="dl-horizontal">
                                <dt>{{ 'sylius.order.items_total'|trans|title }}</dt>
                                <dd>{{ cart.itemsTotal|sylius_price }}</dd>

                                {% if cart.shippingTotal %}
                                    <dt>{{ 'sylius.order.shipping_total'|trans|title }}</dt>
                                    <dd>{{ cart.shippingTotal|sylius_price }}</dd>
                                {% endif %}

                                {% if cart.promotionTotal or cart.itemsPromotionTotal %}
                                <dt>{{ 'sylius.order.promotion_total'|trans }}</dt>
                                <dd>{{ (cart.promotionTotal + cart.itemsPromotionTotal)|sylius_price }}</dd>
                                {% endif %}

                                {% if cart.taxTotal %}
                                    <dt>{{ 'sylius.order.tax_total'|trans|title }}</dt>
                                    <dd>{{ cart.taxTotal|sylius_price }}</dd>
                                {% endif %}
                            </dl>
                            <hr/>
                            <dl class="dl-horizontal">
                                <dt>{{ 'sylius.cart.summary.grand_total'|trans|title }}</dt>
                                <dd>{{ cart.total|sylius_price }}</dd>
                            </dl>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-default">{{ 'sylius.cart.summary.save'|trans }}</button>
                        <a href="{{ path('sylius_checkout_start') }}" class="btn btn-primary">{{ 'sylius.cart.summary.checkout'|trans }}</a>
                    </div>
                </div>

                {{ form_rest(form) }}
            </form>
        </div>
    {% else %}
        <div class="cart-empty">
            <h1 class="text-center text-muted">{{ 'There are no items in your Cart.'|trans|title }}</h1>
            <p class="text-center">
                <a class="btn btn-default" href="{{ path('sylius_homepage') }}">Continue Shopping</a>
            </p>
            <hr/>
            <p class="text-muted"><small>If you are trying to add items to your cart and it remains empty, you may have cookies disabled in your browser settings. If that's the case, please enable acceptance of cookies and try again.</small></p>
        </div>
    {% endif %}

{% endblock %}

{% block sylius_cart_item_row %}
    {{ parent() }}
    {% block form_message %}{% endblock %}
{% endblock %}
