{% extends 'HypebeastWebBundle:Frontend:Checkout/layout.html.twig' %}

{% block title 'sylius.checkout.shipping.header'|trans|title %}

{% form_theme form 'HypebeastWebBundle:Frontend/Checkout/Step:_forms.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>{{ 'sylius.checkout.shipping.header'|trans|title }}</h1>
    </div>

    {% include 'SyliusWebBundle:Frontend/Checkout:_progressBar.html.twig' %}

    <form method="post" action="{{ path('sylius_checkout_forward', {'stepName': context.currentStep.name}) }}" class="form-horizontal" novalidate>

        {% for shipment in order.shipments %}
            {% set shipmentForm = form.shipments[loop.index0] %}
            {{ form_row(shipmentForm.method) }}
        {% endfor %}

        {{ form_widget(form._token) }}

        <button type="submit" class="btn btn-primary">{{ 'sylius.checkout.forward'|trans }}</button>
    </form>
{% endblock %}
