{% set brands = sylius_product_taxons(product, 'Brand') %}
{% set brand = brands ? brands[0] : {'permalink': '', 'name': ''} %}

<div class="product">
    {% spaceless %}
    <a href="{{ path('sylius_product_show', {'slug': product.slug, 'brand': brand.permalink}) }}"
       class="picture">
        <img class="img-responsive" alt="{{ 'sylius.product.picture.alt'|trans({'%name%': product.name, '%brand%': brand.name}) }}"
             src="{{ product.image ? product.image.path|imagine_filter('store_thumbnail') : 'http://placehold.it/250x275' }}" />

        {% set model_shot = sylius_product_model_shot(product) %}
        {% if model_shot %}
        <img class="img-responsive model-shot"
             src="{{ model_shot.path|imagine_filter('store_thumbnail') }}"
             alt="{{ 'sylius.product.picture.model.alt'|trans({'%name%': product.name, '%brand%': brand.name}) }}" />
        {% endif %}
    </a>
    {% endspaceless %}
    <a href="{{ path('sylius_product_index_by_brand', {'permalink': brand.permalink}) }}">
        <h4 class="brand">{{ brand.name }}</h4>
    </a>
    <a href="{{ path('sylius_product_show', {'slug': product.slug, 'brand': brand.permalink}) }}">
        <h3 class="name">{{ product.name }}</h3>
    </a>
    <div class="info">
        <span class="price">{{ product.masterVariant.price|sylius_price }}</span>
        {% if product.newArrival %}
            <span class="new">{{ 'sylius.product.new'|trans }}</span>
        {% endif %}
    </div>
</div>
