{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% from 'SyliusWebBundle:Frontend/Product:macros.html.twig' import grid %}

{% set form = sylius_cart_form({'product': product}) %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets output='styles/product.css' '@HypebeastWebBundle/Resources/assets/less/product.less' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="{{ product.image ? product.image.path|imagine_filter('store_gallery') : 'http://placehold.it/200x200' }}" alt="{{ product.name }}" />

            {% if product.images|length > 0 %}
                <div id="gallery">
                    {% for image in product.images %}
                        <a href="{{ image.path|imagine_filter('store_thumbnail') }}" title="{{ product.name }}">
                            <img class="img-rounded" src="{{ image.path|imagine_filter('store_thumbnail') }}" alt="{{ product.name }}" />
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div id="product-summary" class="col-md-6">
            <a href="{{ url('sylius_product_index_by_brand', {permalink: sylius_product_taxons(product, 'Brand')[0].permalink}) }}"
               title="{{ sylius_product_taxons(product, 'Brand')[0].name }}">
                <h3 class="brand">{{ sylius_product_taxons(product, 'Brand')[0].name }}</h3>
            </a>
            <h1 class="name">{{ product.name }}</h1>
            <div class="info">
                <span class="price">
                    {{ product.masterVariant.price|sylius_price }}
                </span>
            </div>

            <form action="{{ path('sylius_product_show', {'slug': product.slug, 'brand': sylius_product_taxons(product, 'Brand')[0].permalink}) }}" method="post" class="clearfix">
                <div class="row">
                    {% if product.hasVariants %}
                        <div class="col-md-6">
                            {{ form_widget(form.variant) }}
                        </div>
                    {% endif %}

                    <div class="col-md-6">
                        {{ form_row(form.quantity, {'attr': {'class': 'center-text'}, 'empty_value': '1'}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {% if not product.hasVariants or not sylius_inventory_is_available(product.masterVariant) %}
                            <span class="label label-important">{{ 'sylius.out_of_stock'|trans }}</span>
                        {% else %}
                            {{ form_widget(form._token) }}
                            {% if sylius_is_restricted(product) %}
                                <button disabled="disabled" class="btn btn-success btn-lg btn-block"><i class="icon-shopping-cart icon-white icon-large"></i> {{ 'sylius.product_not_available_in_zone'|trans }}</button>
                            {% else %}
                                <button type="submit" class="btn btn-default"><i class="icon-shopping-cart icon-white icon-large"></i> {{ 'sylius.add_to_cart'|trans }}</button>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

                <div class="description">
                    <h4>Description</h4>
                    <p>{{ product.description|default('sylius.product.no_description')|trans }}</p>
                </div>

                {% if product.hasPropertyByName('Clothing Size and Fit') %}
                <div class="size-and-fit">
                    <h4>Size and Fit</h4>
                    <p>{{ product.getPropertyByName('Clothing Size and Fit').value }}</p>
                </div>
                {% endif %}

                {% if product.giftCard %}
                    {{ form_errors(giftCardForm) }}
                    <div class="gift-card-form">
                        <div class="control-group">
                            <div class="form-group">
                                {{ form_errors(giftCardForm.name) }}
                                <div class="row">
                                    {{ form_label(giftCardForm.name) }}
                                    <div class="col-xs-8">
                                        {{ form_widget(giftCardForm.name) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group">
                                {{ form_errors(giftCardForm.email) }}
                                <div class="row">
                                    {{ form_label(giftCardForm.email) }}
                                    <div class="col-xs-8">
                                        {{ form_widget(giftCardForm.email) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group">
                                {{ form_errors(giftCardForm.message) }}
                                <div class="row">
                                    {{ form_label(giftCardForm.message) }}
                                    <div class="col-xs-12">
                                        {{ form_widget(giftCardForm.message, {'attr': {'rows': 8}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_rest(giftCardForm) }}
                {% endif %}
            </form>
        </div>
        <div class="col-md-12">
            <h4>Related products</h4>
            {{ grid(0 < product.upSells.count ? product.upSells : product.defaultUpSells) }}
        </div>
    </div>
{% endblock %}
