{% extends 'HypebeastWebBundle:Frontend:layout.html.twig' %}
{% set form = sylius_cart_form({'product': product, 'quantityless': true}) %}

{% block title sylius_product_brand(product).name ~ " " ~ product.name|title %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets output='styles/product.css'
    '@HypebeastWebBundle/Resources/assets/less/product.less'
    '@HypebeastWebBundle/Resources/assets/css/venobox.css'%}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts output='assets/compiled/product.js' '@HypebeastWebBundle/Resources/assets/js/venobox.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block main %}
    <div class="row">
        <div id="gallery" class="col-sm-6">
            <div class="holder">
                <img class="img-responsive"
                     src="{{ product.image ? product.image.path|imagine_filter('store_gallery') : 'http://placehold.it/200x200' }}"
                     alt="{{ product.name }}"
                     data-index="0" />
            </div>

            {% spaceless %}
            {% if product.images|length > 0 %}
                <div class="carousel">
                    {% for image in product.images %}
                        <a href="{{ image.path|imagine_filter('store_gallery') }}"
                           title="{{ product.name }}"
                           data-gall="gallery">
                            <img src="{{ image.path|imagine_filter('store_thumbnail') }}" alt="{{ product.name }}" />
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
            {% endspaceless %}
        </div>
        <div id="product-summary" class="col-sm-6">
            <a href="{{ url('store_brand', {permalink: sylius_product_brand(product).permalink}) }}"
               title="{{ sylius_product_brand(product).name }}">
                <h3 class="brand">{{ sylius_product_brand(product).name }}</h3>
            </a>
            <h1 class="name">{{ product.name }}</h1>
            <div class="info">
                <span class="price {{ product.onSale ? 'on-sale' }}">
                    {% if not product.onSale %}
                        <span class="regular-price">{{ product.masterVariant.price|sylius_price }}</span>
                    {% else %}
                        <span class="regular-price">{{ product.masterVariant.price|sylius_price }}</span>
                        <span class="sale-price">{{ product.masterVariant.salePrice|sylius_price }}</span>
                    {% endif %}
                </span>
            </div>

            <form action="{{ path('sylius_cart_item_add', {
                'id': product.id,
                '_redirect_to': url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))
            }) }}" method="post" class="clearfix">
                <div class="row">
                    {% set productGroup = sylius_product_taxons(product, 'Product Group') %}
                    {% if productGroup is not empty %}
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">{{ 'sylius.product.color'|trans }}</label>
                                <div>
                                    <select class="form-control" onchange="javascript:window.location.href=this.value;">
                                        {% for productInGroup in productGroup[0].products %}
                                            <option value="{{ path('sylius_product_show', {'slug': productInGroup.slug, 'brand': sylius_product_brand(productInGroup).permalink}) }}"
                                                    {% if productInGroup.slug == product.slug %}selected{% endif %}>{{ productInGroup.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if product.hasVariants %}
                        <div class="col-md-6">
                            {{ form_row(form.variant) }}
                        </div>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {% if not product.hasVariants and not sylius_inventory_is_available(product.masterVariant) %}
                            <span class="label label-important">{{ 'sylius.out_of_stock'|trans }}</span>
                        {% else %}
                            {{ form_widget(form._token) }}
                            {% if sylius_is_restricted(product) %}
                                <button disabled="disabled" class="btn btn-success btn-lg btn-block"><i class="icon-shopping-cart icon-white icon-large"></i> {{ 'sylius.product_not_available_in_zone'|trans }}</button>
                            {% else %}
                                <button type="submit" class="btn btn-default"><i class="icon-shopping-cart icon-white icon-large"></i> {{ 'sylius.add_to_cart'|trans }}</button>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

                {{ form_rest(form) }}
            </form>

            <div class="description">
                <h4>Description</h4>
                <p>{{ product.description|default('sylius.product.no_description')|trans }}</p>
            </div>

            {% if product.hasPropertyByName('Clothing Size and Fit') %}
            <div class="size-and-fit">
                <h4>Size and Fit</h4>
                <p>{{ product.getPropertyByName('Clothing Size and Fit').value }}</p>
            </div>
            {% endif %}

                {% if product.giftCard %}
                    {{ form_errors(giftCardForm) }}
                    <div class="gift-card-form">
                        <div class="control-group">
                            <div class="form-group">
                                {{ form_errors(giftCardForm.name) }}
                                <div class="row">
                                    {{ form_label(giftCardForm.name) }}
                                    <div class="col-xs-8">
                                        {{ form_widget(giftCardForm.name) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group">
                                {{ form_errors(giftCardForm.email) }}
                                <div class="row">
                                    {{ form_label(giftCardForm.email) }}
                                    <div class="col-xs-8">
                                        {{ form_widget(giftCardForm.email) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group">
                                {{ form_errors(giftCardForm.message) }}
                                <div class="row">
                                    {{ form_label(giftCardForm.message) }}
                                    <div class="col-xs-12">
                                        {{ form_widget(giftCardForm.message, {'attr': {'rows': 8}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_rest(giftCardForm) }}
                {% endif %}

        </div>
    </div>
    <div class="row">
        <div id="related-products" class="col-md-12">
            <h2><span>Related Products</span></h2>
            <div class="row">
                {% for product in product.relatedProducts %}
                    <div class="col-xs-4">
                        {% include 'SyliusWebBundle:Frontend/Product:_singleBox.html.twig' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
